@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #374151;
  --primary: #2b2973;
  --accent: #06b6d4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), 'Poppins', sans-serif;
}
